.carousel-container {
  overflow: hidden;
  height: 360px;
  padding-bottom: 1.5em;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 480px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.2em;
    margin-bottom: 1.4em;
  }
}

h3 {
  padding-left: 0.5em;
  padding-bottom: 0.3em;
}
