.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 20px;
}

.movie-slider {
  margin: 1em;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 0.8em;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
}

.movie-title {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

.badge {
  margin-right: 0.5em;
}

.imdb-icon {
  background-color: yellow;
  color: black;
  font-size: 1.6em;
  margin-right: 0.3em;
  border-radius: 5px;
}

.movie-vote-average {
  margin-top: 0.7em;
  vertical-align: middle;
}

.all-circle {
  /* display: inline-block; */
  width: 2em;
  height: 2em;
  line-height: 1.8em;
  font-size: 0.8em;
  border-radius: 50%;
  background-color: orange;
  color: black;
  text-align: center;
  margin-top: 0.7em;
}

@media (max-width: 768px) {
  .movie-card:hover {
    transform: scale(1.05) translateZ(0);
  }

  .overlay {
    padding: 1em;
  }
}
