/* styles.css or another CSS file */
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  background-color: black;
  color: white;
}

.page-link:hover {
  background-color: gray;
  color: white;
}

.active .page-link {
  background-color: red;
  border: none;
  color: white;
}

.page-item.disabled .page-link {
  background-color: black;
  pointer-events: none;
}

.page-item.disabled .page-link:hover {
  background-color: transparent;
}
