.netflix-logo {
  width: 4em;
  height: 3.3em;
  padding-right: 0px;
  margin-right: 0px;
}

.bg-body-tertiary {
  background-color: black !important;
  padding-top: 0;
}

body {
  background-color: black;
}

.search-btn {
  color: red;
  border-color: red;
}

.search-icon {
  margin-bottom: 3px;
}
