.netflix-logo {
  width: 4.1em;
  height: 3.5em;
  padding: 0;
}

.bg-body-tertiary {
  background-color: black !important;
  padding-top: 0;
  padding-bottom: 0;
}

.search-btn {
  color: red;
  border-color: red;
}

.search-btn:hover {
  color: red;
  border-color: red;
  background-color: black;
  opacity: 0.6;
}

.search-icon {
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  img {
    height: 45vh;
  }

  .d-flex {
    padding-bottom: 1.1rem;
  }
}
