.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.error-code {
  font-size: 3rem;
}

.error-message {
  font-size: 1.5rem;
}
